<%- include("partials/header", { title: "Home" }) %>

<h1>Home Page</h1>
<p>This is the home page.</p>

<p><a href="./auth/login.ejs">Go to Login</a></p>
<p><a href="./auth/register.ejs">Go to Register</a></p>
<p><a href="./lobby.ejs">Go to Lobby</a></p>

<%- include("partials/footer") %>