<%- include("partials/header", { title: "Home" }) %>

<h1>Home Page</h1>
<p>This is the home page.</p>

<p><a href="/login">Go to Login</a></p>
<p><a href="/register">Go to Register</a></p>
<p><a href="/lobby">Go to Lobby</a></p>

<%- include("partials/footer") %>